.authview-cont {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authview-head p {
  color: #4e1e29;
  font-size: 2.5em;
}

.authview-card img {
  margin-top: 5vh;
  min-height: 15vh;
  width: 15vw;
}

.flex-center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.authview-head {
  padding: 5% 0;
}

.authview-inputs {
  background-color: #242325;
  min-height: 35vh;
  width: 70%;
  margin-bottom: 5vh;
}

.border-rad {
  border-radius: 10px;
}

.auth-input {
  width: 40%;
}
.light-tan {
  color: #c6b38e;
}

.user-pass {
  margin-top: 10%;
  font-size: 1.5em;
  display: flex;
  justify-content: space-around;
}

.red-button {
  background-color: #a52422;
  color: #fbffe6;
  border: none;
  height: auto;
  width: auto;
  font-size: 1.5em;
  font-family: "Alegreya", serif;
}

.auth-buttons {
  margin-top: 10%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding-bottom: 3vh;
}
