.nav-container {
  background-color: #020402;
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #c6b38e;
  font-family: "Alegreya", serif;
  font-size: 1.5em;
}

.label-font {
  font-family: "Alegreya", serif;
  font-size: 1.5em;
}

.nav-left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.nav-left img {
  width: 10%;
  height: auto;
}

.navlink {
  text-decoration: none;
  color: #c6b38e;
}

.navlink:hover {
  cursor: pointer;
  opacity: 0.5;
}

.logout {
  padding-right: 3vw;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75em;
}
