.browser-view {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh 0;
}

.browser-card {
  background-color: #c6b38e;
  min-height: 80vh;
  width: 60vw;
  border-radius: 10px;
}

.browser-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 2%;
}

.browser-footer {
  text-align: right;
  margin: 0 10px 10px 0;
}

.card-label {
  font-size: 2.3em;
  color: #4e1e29;
}

.filter-container {
  font-size: 0.75em;
  color: #4e1e29;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.checks {
  display: flex;
  flex-direction: column;
  text-align: left;
}
